body
{
  margin:0;
  height: 100%;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/48/05/03/480503f804913623c6d6bb6bdf7d7864.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Shadows Into Light', cursive;
}

ul.topnav
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li
{
  float: left;
}

ul.topnav li a
{
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover
{
  background-color: #555;
}

ul.topnav li.icon
{
  display: none;
}

#google
{
    width: 24%;
    height: 45px;
    display: ìnline;
    background-color: #D70606;
    border: none;
    color: white;
}
#fourty
{
  width: 24%;
  height: 45px;
  display: ìnline;
  background-color: #333;
  border: none;
  color: white;
}

#slack
{
  width: 24%;
  height: 45px;
  display: ìnline;
  background-color: #7D1C44;
  border: none;
}

#twitter
{
  width: 24%;
  height: 45px;
  display: ìnline;
  background-color: #1356FD;
  border: none;
}

#leglin
{
	border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: white;
}

/*alert*/
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.alertclosebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.alertclosebtn:hover {
    color: black;
}

input[type=text], input[type=password], input[type=email]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button
{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container
{
  padding: 10px;
  width: 40%;
  margin: auto;
}

span.psw
{
  float: right;
  padding-top: 16px;
}

@media screen and (max-width:680px) {

  ul.topnav li:not(:first-child)
  {
    display: none;
  }

  ul.topnav li.icon
  {
    float: right;
    display: inline-block;
  }

  ul.topnav.responsive
  {
    position: relative;
  }

  ul.topnav.responsive li.icon
  {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li
  {
    float: none;
    display: inline;
  }

  ul.topnav.responsive li a
  {
    display: block;
    text-align: left;
  }

  #oauth
  {
    width: 100%;
  }

  #google
  {
    width: 48%;
    height: 45px;
    display: ìnline;
    background-color: #D70606;
    border: none;
  }

  #fourty
  {
    width: 48%;
    height: 45px;
    display: ìnline;
    background-color: #333;
    border: none;
  }

  #slack
  {
    width: 48%;
    height: 45px;
    display: ìnline;
    background-color: #7D1C44;
    border: none;
  }

  #twitter
  {
    width: 48%;
    height: 45px;
    display: ìnline;
    background-color: #1356FD;
    border: none;
  }
  .container
  {
    padding: 10px;
    width: 95%;
    margin: auto;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px)
{
  span.psw
  {
    display: block;
    float: none;
  }
  .cancelbtn
  {
     width: 100%;
  }
}
